@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeReverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marqueeReverse 25s linear infinite;
}

.premium-skill-card {
  @apply min-w-[320px]

  p-8
  rounded-[30px]

  border border-black/10
  dark:border-white/10

  bg-white/70
  dark:bg-white/[0.03]

  backdrop-blur-xl

  flex items-center
  justify-center

  hover:scale-[1.03]

  transition-all duration-300;
}

.trusted-item {
  @apply text-4xl
  font-bold
  text-blue-500;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}
.premium-skill-card {
  @apply

  rounded-[28px]

  border border-black/10
  dark:border-white/10

  bg-white/5
  dark:bg-white/[0.03]

  backdrop-blur-xl

  p-6

  flex flex-col
  items-start
  justify-center

  min-h-[170px]

  transition-all
  duration-300

  hover:-translate-y-2
  hover:border-blue-500/30
  hover:shadow-[0_10px_40px_rgba(59,130,246,0.12)];
}

.premium-skill-card svg {
  font-size: 42px;
}

.premium-skill-card h3 {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 700;
}

.premium-skill-card p {
  margin-top: 8px;

  color: #9ca3af;

  font-size: 14px;
  line-height: 1.5;
}
.project-card.show-card {
  opacity: 1;
  transform: translateY(0px);
}